body{
	border-style:solid;
}

.form-grid-1{
	display: grid;
	text-align: center;
	margin-inline: auto;
	padding-block: .5rem;
	gap: .5rem;
	grid-template-columns: 21% 21% 57%;
}

.form-grid-2{
	display: grid;
	text-align: center;
	margin-inline: auto;
	padding-block: .5rem;
	gap: .5rem;
	grid-template-columns: 40% 20% 20% 18.5%;
}

.form-grid-3, .sus-form-grid-1{
	display: grid;
	text-align: center;
	margin-inline: auto;
	padding-block: .5rem;
	gap: .5rem;
	grid-template-columns: 20% 20% 20% 20% 18.1%;
}

.form-grid-4, .sus-form-grid-2{
	display: grid;
	text-align: center;
	margin-inline: auto;
	padding-block: .5rem;
	gap: .5rem;
	grid-template-columns: 12.1% 12.1% 12.1% 12.1% 12.1% 12.1% 12.1% 12.1%;
}

.form-grid-5, .sus-form-grid-3{
	display: grid;
	text-align: center;
	margin-inline: auto;
	padding-block: .5rem;
	gap: .5rem;
	grid-template-columns: 40% 20% 20% 18.5%;
}

.form-grid-6{
	display: grid;
	text-align: center;
	margin-inline: auto;
	padding-block: .5rem;
	gap: .5rem;
	grid-template-columns: 40% 20% 20% 18.5%;
}

.sus-form-grid-4, .child-form-grid-1{
	display: grid;
	text-align: center;
	margin-inline: auto;
	padding-block: .5rem;
	gap: .5rem;
	grid-template-columns: 33% 33% 33%;
}

.child-form-grid-2{
	display: grid;
	text-align: center;
	margin-inline: auto;
	padding-block: .5rem;
	gap: .5rem;
	grid-template-columns: 49.7% 49.7%;
}


.suspect-add-grid_info{
	margin-left:3px;
}

.victim-grid{
	display: grid;
	text-align: center;
	margin-inline: auto;
	padding-block: .5rem;
	gap: .5rem;
	grid-template-columns: 40% 20% 20% 18.5%;
}

.cells{
	margin-left:3px;
	padding:1rem;
	border-style:solid;
	border-width: 1px;
}